.hobbyContainer {
  display: flex;
  width: 100%;
  align-items: flex-start;
  margin-bottom: 4vh;
}

.hobbyTitle {
  font-size: 2.5em;
  margin-bottom: 0;
  text-transform: uppercase;
}

.hobbyText {
  text-align: justify;
  font-size: 20px;
  flex: 1 1 0px;
}

.leftAlign {
  justify-content: flex-start;
}

.rightAlign {
  justify-content: flex-end;
}

.rightAlign > .hobbyText > .hobbyTitle {
  text-align: end;
}

.carousel {
  width: 607.5px;
  padding: 10px;
  flex: 1.2 1 0px;
}

@media (max-width: 970px) {
  .hobbyContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 4vh;
    width: 100%;
  }

  .hobbyTitle {
    text-align: center;
    margin-top: 8px;
  }

  .rightAlign > .hobbyText > .hobbyTitle {
    text-align: center;
  }

  .rightAlign {
    text-align: center;
    flex-direction: column-reverse;
  }

  .hobbyText {
    margin-bottom: 42px;
  }
}

@media (max-width: 450px) {
  .hobbyTitle {
    margin: 0;
  }

  .hobbyText {
    font-size: 16px;
  }
}
