.aboutContainer {
  max-width: 1300px;
  margin: auto;
}

.aboutTitle {
  text-align: center;
  margin-top: 10vh;
  font-size: 3em;
}

.skillContainer {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  flex-wrap: wrap;
}

.descriptionContainer {
  margin-top: 15vh;
  display: flex;
  justify-content: center;
}

.profileDescription {
  padding: 16px;
  text-align: justify;
  font-size: 20px;
  flex: 1 1 0px;
}

.profilePicture {
  flex: 1 1 0px;
}

.name {
  text-align: end;
  font-size: 2em;
  margin-bottom: 0;
  margin-top: 0;
  font-weight: bold;
  white-space: nowrap;
}

.hobbyTitle {
  text-align: center;
  font-size: 2.5em;
  font-weight: 500;
  margin: auto;
  margin-top: 8vh;
  border-top: 5px solid;
  width: 50%;
  border-image: linear-gradient(-45deg, #d9593d, #f2af5c, #6fa8bf, #30588c) 1;
}

@media (max-width: 970px) {
  .aboutContainer {
    margin: 0;
  }

  .skillContainer {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: auto;
  }

  .descriptionContainer {
    margin-top: 15vh;
    display: flex;
    justify-content: center;
    flex-direction: column-reverse;
  }

  .name {
    text-align: center;
    white-space: normal;
  }

  .hobbyTitle {
    margin: auto;
    width: 100%;
  }
}

@media (max-width: 450px) {
  .descriptionContainer {
    margin-top: 15vh;
    display: flex;
    justify-content: center;
    flex-direction: column-reverse;
    font-size: 16px;
  }

  .name {
    text-align: center;
    white-space: normal;
  }

  .profileDescription {
    font-size: 16px;
  }

  .hobbyTitle {
    margin: auto;
    margin-top: 42px;
    width: 100%;
  }
}
