.heroContainer {
  position: relative;
  height: 100vh;
  background-color: #232526;
}

.heroText {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  line-height: 1.1;
  font-size: 3em;
  white-space: nowrap;
  color: #fffafa;
}

.nameHighlight {
  font-weight: 600;
  /* text gradient */
  background: #d9593d;
  background-color: #d9593d;
  background-image: linear-gradient(45deg, #d9593d, #f2af5c);
  background-size: 100%;
  background-repeat: repeat;
  background-clip: text;

  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.button {
  font-size: 28px;
  box-shadow: inset 0 0 0 2px #fffafa;
  padding: 8px 48px;
  transition: all 0.3s;
}

.button:hover {
  background-color: #30588c;
  box-shadow: inset 0 0 0 2px transparent;
}

.button .arrow {
  transition: all 0.5s ease;
}

.button:hover .arrow {
  transform: rotate(90deg);
}
