.container {
  padding: 0 64px;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: auto;
}

.navbuffer {
  min-height: 6vh;
}

@media (max-width: 970px) {
  .layoutContainer {
    margin: 0 auto;
    width: 100%;
  }
}

@media (max-width: 450px) {
  .container {
    padding: 16px;
  }
}
