.container h1 {
  text-align: center;
  margin-top: 10vh;
  font-size: 3em;
}

.grid {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  align-content: flex-start;
  gap: 8px;
  max-width: 1300px;
  margin: auto;
}

@media (max-width: 970px) {
}
